/*BOOSTRAP*/
.row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-right: -15px;
	margin-left: -15px;
}

.col-lg-6{
	flex: 0 0 50%;
    max-width: 50%;

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.align-item-center{
	align-items: center;
}

.justify-space-between{
	justify-content: space-between;
}

.full-screen{
	height: 750px !important;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.align-self-end {
    align-self: flex-end!important;
}

.d-flex {
    display: flex!important;
}
/*END BOOSTRAP*/

.container{
	width: 1140px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

/*HEADER*/
#header{
	position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 997;
    background: #fff;
    box-shadow: 0 21.213px 30px 0 rgba(158,158,158,.3);
}

.main-menu{
	padding-top: 20px;
	padding-bottom: 20px;
}

.main-menu .logo{
	width: 30px;
	height: 30px;
}

.main-menu .logo img{
	width: 100%;
	height: auto;
}

.main-menu .menu .nav-menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.nav-menu li{
	margin-left: 10px;
}

.nav-menu a{
	padding: 0 8px 0;
    text-decoration: none;
    display: inline-block;
    color: #222;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
}
/*END HEADER*/

/*BUTTON*/
.primary-btn {
    background: #8490ff;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    cursor: pointer;
    position: relative;
}

.primary-btn:hover {
    color: #fff;
}
/*END BUTTON*/