/*BOOSTRAP*/
.row{
	display: flex;
    flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-8, .col-lg-9, .col-lg-12, .col-6{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col-lg-6{
	flex: 0 0 50%;
    max-width: 50%;
}

.col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.align-item-center{
	align-items: center;
}

.justify-space-between{
	justify-content: space-between;
}

.justify-content-center {
    justify-content: center!important;
}

.full-screen{
	height: 750px !important;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.align-self-end {
    align-self: flex-end!important;
}

.d-flex {
    display: flex!important;
}

.flex-row {
    flex-direction: row!important;
}

.justify-content-start {
    justify-content: flex-start!important;
}

.justify-content-end {
    justify-content: flex-end!important;
}

.text-center {
    text-align: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
/*END BOOSTRAP*/

.mb-10 {
    margin-bottom: 10px;
}

.mt-20{
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.pb-70 {
    padding-bottom: 70px;
}

.container{
	width: 1140px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.text-center{
    text-align: center;
}

/*HEADER*/
#header{
	position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 997;
    background: #fff;
    box-shadow: 0 21.213px 30px 0 rgba(158,158,158,.3);
}

.main-menu{
	padding-top: 20px;
	padding-bottom: 20px;
}

.main-menu .logo{
	width: 30px;
	height: 30px;
}

.main-menu .logo img{
	width: 100%;
	height: auto;
}

.main-menu .menu .nav-menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.nav-menu li{
	margin-left: 10px;
}

.nav-menu a{
	padding: 0 8px 0;
    text-decoration: none;
    display: inline-block;
    color: #222;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
}
/*END HEADER*/

/*BUTTON*/
.primary-btn {
    background: #8490ff;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    position: relative;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    cursor: pointer;
    position: relative;
}

.primary-btn:hover {
    color: #fff;
}
/*END BUTTON*/

/*FOOTER*/
.footer-area {
    background-color: #04091e;
    width: 100%;
}

.single-footer-widget h4 {
    color: #fff!important;
    margin-bottom: 25px;
    font-weight: 700;
}

.footer-text a {
    color: #8490ff;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.single-footer-widget .form-control {
    border: none;
    width: 80%!important;
    font-weight: 300;
    background: #f9f9ff;
    padding: 10px 20px;
    border-radius: 0;
    font-size: 14px;
    line-height: normal!important;
    color: #222;
}

.input-group>.form-control, .input-group>.custom-select, .input-group>.custom-file {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.input-group>.form-control:not(:last-child), .input-group>.custom-select:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 10px 14px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.single-footer-widget .btn {
    font-size: 1.2rem;
    border-radius: 0;
    background: #8490ff;
    color: #fff;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.single-footer-widget .footer-social a {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.single-footer-widget .footer-social a i {
    vertical-align: bottom;
    color: #fff;
}

.single-footer-widget .footer-social a:hover i {
    color: #8490ff;
}
/*END FOOTER*/